/* SATELLITE */
.satellite-icon {
  display: flex;
  align-items: center;
}

.sat-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  box-shadow: 0 0 10px currentColor, 0 0 20px currentColor;
}

.sat-label {
  margin-left: 6px;
  font-size: 11px;
  color: white;
  white-space: nowrap;
}
